.topbar-container{
    display: flex;
    justify-content: center;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid #e9e9ee;
    padding: 12px 0;
    .topbar-wrapper{
        display: flex;
        justify-content: space-between;
        width: 970px;
        align-items: center;
        .logo{
            img{
                width: 105px;
            }
        }
        .topbar-search{
             background-color: #e9e9ee;
             display: flex;
             justify-content: space-between;
             width: 270px;
             height: 35px;
             border-radius: 5px;
             -webkit-border-radius: 5px;
             -moz-border-radius: 5px;
             -ms-border-radius: 5px;
             -o-border-radius: 5px;
            .topbar-btn{
                border: none;
                padding: 10px;
                background-color: #e9e9ee;
                display: flex;
                align-items: center;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
             }
             input{
                border: none;
                outline: none;
                background-color: #e9e9ee;
                width: 90%;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
             }
        }
        .topbar-menu{
            ul{
                display: flex;
                justify-content: flex-end;
                gap: 20px;
                align-items: center;
                li{
                    a{
                        font-size: 20px;
                        color: black;
                        img{
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                            -webkit-border-radius: 50%;
                            -moz-border-radius: 50%;
                            -ms-border-radius: 50%;
                            -o-border-radius: 50%;
                        }
                    }
                }
            }
        }
    }

}